src/main/mule/implementations/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="post:\cases:application\json:uhub-sapi-config">
		<set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationid" doc:id="8385476b-ba58-450a-9217-5e6e79388c1e" variableName="correlationid"/>
		<logger level="INFO" doc:name="start log" doc:id="cfbddf00-21ad-410c-bcc6-cf9db66a96ea" message='transactionID: #[vars.transactionid],correlationID:#[vars.correlationid],message: "start register covid case flow" ,payload: #[payload]'/>
		<ee:transform doc:name="prepared-covid-case-payload" doc:id="b1933034-c21a-424b-ab78-fc963545124a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
var currentDate = now() as String { format: "yyyy-MM-dd" }
---
{
	source: payload.source,
	case_type: payload.caseType,
	first_name: payload.firstName,
	last_name: payload.lastName,
	phone: payload.phone,
	email: payload.email,
	date_of_birth: payload.dateOfBirth as String {
		format: "yyyy-MM-dd"
	},
	national_id: payload.nationalID,
	national_id_type: payload.nationalIDType,
	street_address: payload.address.streetAddress,
	city: payload.address.city,
	state: upper(payload.address.state),
	postal: payload.address.postal,
	country: payload.address.country,
	create_date: currentDate,
	update_date: currentDate,
	create_by: "UHIS",
	update_by: "UHIS"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="insert-covid-case-uhub-db" doc:id="b39dfcd6-b762-42ed-8b36-f9b88d95ef3f" name="insert-covid-case-sub-flow"/>
		<ee:transform doc:name="prepare-response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  caseID: payload[0].CASE_ID as String 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="end log" doc:id="bb9b19b7-2c41-438c-b1eb-c5aea6f0a9c3" message="====end_of_the_register_covid_case===="/>
	
</flow>

</mule>
